@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap')


/* .text-center{
   
    font: rgba(87, 87, 87, 1);

    width: 552px;
    height: 49px;
    top: 1526px;
    left: 484px;
    gap: 0px;
    opacity: 0px;
    
}
.data-cont{
    width: 1331px;
height: 488px;
top: 1719px;
left: 71px;
gap: 0px;
border-radius: 13px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

} */